
.container{
  display: flex;
  justify-content: space-around;
}

.char{
  @include card;
  width: 70%;
  min-width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.eps{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $lightblue;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 0 3px $lightgreen;
}

.eps a{
  margin: 5px;
  color: white;
  &:hover{
    color: $green;
  }
}