
.container{
  display: flex;
  justify-content: space-around;
}

.char{
  @include card;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.eps{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $lightblue;
  padding: 30px;
}

.eps a{
  margin: 5px;
  color: white;
  &:hover{
    color: $green;
  }
}